.btnhead {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  padding: 10px 12px;
  font-size: 20px;
  line-height: 1.42857143;
  color: white;
  background-color: #8e0404;
  float: right;
  width: 150px;
  border-radius:2px;
  float; left:
}
.jumbotron {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  color: inherit;
  background-color: #3a3a3a;
  border: color: Black;
  border-style: solid;
  border-width: 2px;
}
.jumbotronOptions {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  color: inherit;
  background-color: #ffffff;
  border: color: Black;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  margin-left: 30px;
  margin-right: 30px;
}
.jumbotronHeader {
  padding-top: 3px;
  padding-bottom: 3px;
  margin-bottom: 3px;
  color: inherit;
  background-color: #ffffff;
  border: color: Black;
  border-style: solid;
  border-width: 2px;
  width: 150px;
  margin-left: 30px;
  border-radius: 10px;
}
img {
  height: 300px;
  width: 500px;
  align-content: center;
  border: color: Black;
  border-style: solid;
  border-width: 2px;
  margin-left: 30px;
  margin-right: 30px;
}
body {
background-color: #e0e0e0;
}
